# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Build artifacts
build/
dist/
*.egg-info/
*.spec

# Local settings
.env
config.yaml
*.db
*.sqlite3

# Logs and Backups
logs/
backups/

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
htmlcov/
.coverage
